<h1><%= t('views.common.title_edit', name: Report.model_name.human.downcase) %></h1>

<%= render 'comments/form', comment: @comment %>
<br>
<nav class="page-nav">
  <%= link_to t('views.common.back_to_show', name: Comment.model_name.human.downcase), polymorphic_path([@comment.commentable, @comment]) %>
</nav>
