<h1><%= t('views.common.title_show', name: Comment.model_name.human) %></h1>

<div class="show-item">
  <%= render "comment", comment: @comment %>
</div>

<nav class="page-nav">

<% if current_user == @comment.user %>
    <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), commentable_comment_path(@comment), method: :delete %>
<% end %>
</nav>
