<h1><%= t('views.headline.edit', name: Book.model_name.human) %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to  t('views.edit', name: Book.model_name.human), @book %> |
  <%= link_to t('views.back', index: t('views.headline.index', name: Book.model_name.human)), books_path %>
</nav>
